@charset "UTF-8";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 239, 227);
}
.header h1 {
  margin: 0;
  font-size: 20px;
}
.header a {
  text-decoration: none;
}

footer {
  background-color: #f5bc8d;
  color: #111111;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
footer h6 {
  text-align: center;
}
footer .preguntas-frecuentes {
  text-align: center;
  text-decoration: none;
  color: #111111;
}
footer .preguntas-frecuentes a {
  color: #111111;
  text-decoration: none;
}

.div1 {
  background-color: rgb(255, 239, 227);
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

nav {
  margin: 0;
  padding: 5px 10px;
  height: 30px;
}

.separados {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  padding: 0px 50px;
  border-radius: 5px;
  margin: 0;
}
.separados a {
  text-decoration: none;
  margin: 0 15px;
  display: flex;
  color: #947561;
  transition: color 0.3s, transform 0.3s;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.separados a:hover {
  color: #dfa36c;
  transform: scale(1.1);
}
.separados a:active {
  transform: scale(0.95);
}
.separados a i {
  font-size: 24px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
  }
  .nav-links.active {
    display: flex;
  }
  .menu-toggle {
    display: flex;
  }
}
.login-button {
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  padding: 10px 15px;
}

.login-button {
  background-color: transparent;
  color: rgb(235, 197, 151);
  border: 2px solid bisque;
}

.vuelo-card {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 10px;
  text-align: center;
}
.vuelo-card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.vuelo-card h3 {
  margin: 10px 0;
}
.vuelo-card p {
  font-size: 18px;
  color: #333;
  font-family: "Poppins", sans-serif;
}
.vuelo-card:hover {
  transform: scale(1.05);
}
.vuelo-card.active {
  transform: scale(1.1);
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

.login-button {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  color: rgb(235, 197, 151);
  border: 2px solid bisque;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.login-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(206, 144, 128);
}
.login-button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
  }
  .nav-links.active {
    display: flex;
  }
  .menu-toggle {
    display: flex;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .carousel {
    max-width: 100%;
  }
  .carousel-caption h5 {
    font-size: 18px;
  }
  .carousel-caption p {
    font-size: 14px;
  }
}
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 239, 227);
  overflow-x: hidden;
}

p {
  padding-top: 60px;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  margin: 0;
  font-size: 20px;
}
.header a {
  text-decoration: none;
}
.header body {
  background-color: rgb(255, 239, 227);
}
.header .login-button {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  color: rgb(235, 197, 151);
  border: 2px solid bisque;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.header .login-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(206, 144, 128);
}
.header .login-button:focus {
  outline: none;
}
.header .div1 {
  background-color: rgb(255, 239, 227);
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.header nav {
  margin: 0;
  padding: 5px 10px;
  height: 30px;
  background-color: #f5bc8d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .navbar, .header .navbar a {
  font-family: "Poppins", sans-serif;
}
.header h3 {
  text-align: center;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgb(241, 236, 228);
}

.separados {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  padding: 0px 50px;
  border-radius: 5px;
  margin: 0;
  flex-wrap: wrap;
  width: 100%;
}
.separados .menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: #947561;
  cursor: pointer;
}
.separados a {
  text-decoration: none;
  margin: 0 15px;
  display: flex;
  color: #947561;
  transition: color 0.3s, transform 0.3s;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.separados a:hover {
  color: #dfa36c;
  transform: scale(1.1);
}
.separados a:active {
  transform: scale(0.95);
}
.separados a i {
  font-size: 24px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .separados {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f5bc8d;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1000;
  }
  .separados.active {
    display: flex;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
.navbar {
  margin-bottom: 20px; /* Ajusta el valor según sea necesario */
}

.navbar-collapse {
  background-color: #dfa36c; /* O el color que prefieras */
}

.navbar-custom {
  background-color: #dfa36c;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgb(235, 197, 151);
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-top: 100px;
  background-color: rgb(255, 238, 223);
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px; /* Ajusta el valor según sea necesario */
}

h3 {
  text-align: center;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgb(238, 181, 112);
}

h4, h5, h6 {
  text-align: center;
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 20px;
  text-align: center;
}

h6 {
  font-size: 20px;
  text-align: left;
}

.div2 {
  display: flex;
  flex-direction: column;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.box {
  background-color: #fff0dd;
  border: 1px solid #c48484;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
}

.imagen-contenedor {
  text-align: center;
  margin-bottom: 20px;
}
.imagen-contenedor img {
  width: 300px;
  height: auto;
  display: block;
  margin: 0;
}

.epigrafe {
  font-size: 25px;
  color: #0b364e;
  margin-top: 8px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.video {
  max-width: 700px;
  margin: 0 auto;
  border: 5px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.video video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

.flight-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 239, 227);
}

.flight-container-h4 {
  font-size: 3rem;
  color: rgb(255, 239, 227);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.flight-container-h4:hover {
  transform: scale(1.1);
  color: rgb(255, 209.8571428571, 176);
}

footer {
  background-color: #f5bc8d;
  color: #111111;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
footer h6 {
  text-align: center;
}
footer .preguntas-frecuentes {
  text-align: center;
  text-decoration: none;
  color: #111111;
}
footer .preguntas-frecuentes a {
  color: #111111;
  text-decoration: none;
}

.datos {
  text-align: center;
  font-family: "Lalezar", system-ui;
}

.inicio {
  font-size: 20px;
}

.registro {
  font-size: 20px;
  margin-top: 50px;
}

.vuelos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.vuelo-card {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 10px;
  text-align: center;
}
.vuelo-card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.vuelo-card h3 {
  margin: 10px 0;
}
.vuelo-card p {
  font-size: 18px;
  color: #333;
  font-family: "Poppins", sans-serif;
}
.vuelo-card:hover {
  transform: scale(1.05);
}
.vuelo-card.active {
  transform: scale(1.1);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #b8905c;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  margin: 10px 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.btn:hover {
  background-color: #d38d53;
}

.tour {
  font-size: 23px;
  font-family: "Lalezar", system-ui;
}
.tour p {
  text-align: center;
}

.tours-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}
.tours-container .tour {
  background-color: hsl(30, 58%, 82%);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.tours-container .tour:hover {
  transform: scale(1.05);
}

h4 {
  color: #535151;
}

p {
  color: #555555;
}

.contenedor {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.paquete {
  padding: 15px;
  margin: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.3s;
}
.paquete:hover {
  transform: scale(1.05);
}

h3.ofertas {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.redes-sociales {
  margin-top: 20px;
}

.metodos-pago {
  margin: 20px;
  text-align: center;
  background-color: rgb(255, 239, 227);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pago {
  padding: 15px;
  margin: 10px 0;
  font-family: "Lalezar", system-ui;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.pago:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.accordion-item {
  border: 1px solid #eff7ff;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgb(128, 119, 119);
  margin-bottom: 10px;
}

.accordion-button {
  padding: 15px;
  font-size: 1.1rem;
}
.accordion-button:hover {
  background-color: #f1cbac;
  color: rgb(255, 255, 255);
}

.carousel {
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
}
.carousel .carousel-inner img {
  width: 100%;
  height: auto;
}
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  filter: invert(1);
}
.carousel .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.carousel p {
  color: #ddd;
}

@media (max-width: 768px) {
  .carousel {
    max-width: 100%;
  }
  .carousel-caption h5 {
    font-size: 18px;
  }
  .carousel-caption p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=estilos.css.map */
