// Variables
$background-color: rgb(255, 239, 227);
$header-background: rgb(255, 239, 227);
$login-button-color: rgb(235, 197, 151);
$login-button-border: bisque;
$hover-color: rgba(255, 255, 255, 0.1);
$active-color: rgb(206, 144, 128);
$font-family: 'Poppins', sans-serif;
$font-size-large: 50px;
$font-size-medium: 30px;
$font-size-small: 20px;
$footer-background: #f5bc8d;
$footer-text-color: #111111;
$primary-color:  rgb(255, 239, 227);; // 